/* Additional styling for the logs module */

.form-control {
    display: inline-block;
    margin-right: 1em;
}

.form-control input[type='date'],
.form-control select {
    margin: 4px 0;
    height: 24px;
    width: 150px;
}

.form-control input[type='submit'] {
    padding: 4px 12px;
    border-radius: 3px;
    /* width: 100%; */
    background-color: #3498db;
}

table.hl7-table {
    font-size: smaller;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

table.hl7-table th,
table.hl7-table td {
    padding: 8px;
}

table.hl7-table tr:nth-child(even) {
    background-color: var(--nav-color);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

table.hl7-table button.btn {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    /* padding: 4px 12px; */
    padding: 4px;
}

.table-footer {
    background-color: aliceblue;
    font-size: smaller;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.align-clear {
    clear: both;
}

.hl7message-dialog {
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-left: 2em;
    margin-right: 2em;
    padding: 3.0em;
}

.hl7message-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 3.5em;
    right: 3.5em;
}