/* Additional styling for the dashboard module */

#db-container {
  display: flex;
  justify-content: space-around;
}

#db-container p {
  margin: 0 12px;
  padding: 12px;
  width: 25%;
  height: 65px;
  text-align: center;
  line-height: 125%;
}

.statistic-box {
  border: .5px solid gray;
  border-radius: 3px;
  color: white;
}

#tracked-patients-box {
  background-color: #519DE9
}

#flagged-patients-box {
  background-color: #EF9234;
}

#due-this-week-box {
  background-color: #7CC674;
}

#high-risk-box {
  background-color: #A30000;
}

#graph-container {
  display: flex;
  justify-content: space-around;
  color: lightslategray;
  margin-top: 2px;
  margin-bottom: 12px;
}

#pie-trimester,
#pie-status,
#pie-text4baby {
  width: 165px;
  height: 165px;
  border: 0;
  border-radius: 50%;
  background-color: aliceblue;
  line-height: 380px;
}

#pie-status {
  background-image: conic-gradient(#BDE2B9 0 120deg, #8BC1F7 0);
}

#pie-trimester {
  background-image: conic-gradient(#BDE2B9 90deg, #8BC1F7 0 225deg, #F9E0A2 0);
}

#pie-text4baby {
  background-image: conic-gradient(#BDE2B9 0 215deg, #8BC1F7 0);
}

h4 {
  color: #31363F;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table td,
.dashboard-table th {
  border: 1px solid #B4B4B8;
  padding: 4px;
  font-size: smaller;
}

/* .dashboard-table tr:nth-child(even) {
  background-color: ghostwhite;
} */

.dashboard-table tr:hover {
  background-color: ghostwhite;
}

.dashboard-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #ddd;
  color: #31363F;
}

.security-dialog {
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-left: 12em;
  margin-right: 12em;
  padding: 3.5em;
}

.security-button {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  position: absolute;
  right: 4em;
  bottom: 2em;
  padding: 10px;
}

img.security-image {
  height: 65px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}